body{
  background-color: #c4c4c4;
}

.calculator {
  width: 350px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  background-color: #4F4F4F;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.1),0 1.5px 3.5px 0 rgba(0,0,0,.2);
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}

.calculator-display {
  width: 290px;
  height: 110px;
  font-size: 50px;
  font-weight: 300;
  text-align: right;
  padding: 30px;
  color: #000;
  background-color: #3C3C3C;
  border: none;
  outline: none;
  color: #E0E0E0;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

.number{
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: 300;
  background-color: #c4c4c4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px rgba(0,0,0,.05),0 3px 6px rgba(0,0,0,.1);
  cursor: pointer;
  transition: background-color .1s ease;
  
}

.operator, .equals {
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: 300;
  background-color: #FE9E21;
  color: #E0E0E0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px rgba(0,0,0,.05),0 3px 6px rgba(0,0,0,.1);
  cursor: pointer;
  transition: background-color .1s ease;
}

.number:active, .operator:active {
  box-shadow: 0 1px rgba(0,0,0,.05),0 1px 2px rgba(0,0,0,.1);
  transform: translateY(1px);
}

.clear, .backspace {
  width: 120px;
  grid-column: span 2;
  background-color: #FE9E21;
  color: #E0E0E0;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 300;
  box-shadow: 0 2px rgba(0,0,0,.05),0 3px 6px rgba(0,0,0,.1);
}

.backspace:hover, .clear:hover, .equals:hover, .number:hover, .operator:hover {
  background-color: #d8d8d8;
}