@font-face {
  font-family: 'Orbitron', sans-serif;
  src:url(./fonts/Orbitron-VariableFont_wght.ttf) format('truetype');
  src: url(./fonts/Orbitron-Regular.ttf);
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  font-weight: normal;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
}

body{
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0, .7);
}

.calculator{
  font-family: 'Orbitron', sans-serif;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  width: 420px;
  border: solid 2px white;
  margin: 0 auto;
  background-color: #000000;
  border-radius: 10px;
  padding: 5px;
}

.calculator > button {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid white;
  outline: none;
  background-color: #000000;
  color: #fff;
  margin: 2px;
  border-radius: 50%;
}

.calculator > button[data-operation],
.calculator > button[data-equals] {
  background-color: #f69906;
  color: white;
  border-radius: 10px;
}

.calculator > button[data-all-clear],
.calculator > button[data-delete] {
  background-color: rgba(255,255,255, .3);
  color: white;
  border-radius: 10px;
}

.calculator > button:hover {
  background-color: rgba(255,255,255, .5);
}

.span-two{
  grid-column: span 2;
}

.calculator-display{
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 10px;
  margin: 2px;
}

.calculator-display .previous-operand{
  color: rgba(255, 255, 255, .85);
  font-size: 1.5rem;
}

.calculator-display .current-operand{
  color: white;
  font-size: 2.5rem;
}

footer{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
}